doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Helderberg Pain Clinic
        // Bootstrap core CSS
        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
        // Custom styles for this template
        link(href='css/stylesheet.min.css', rel='stylesheet')
    body
        // Header
        section.header.h-100.d-flex.align-items-center.justify-content-center
            img(src="img/logo.svg")
        //Intro
        section.intro.content-section.bg-light
            .container
                p.blockquote Pain is a complex phenomenon with which many have to deal with on a daily basis. Often misunderstood and seldom local. It can present dissociatively, behave irratiaclly and is as ilusive to diagnose as it is stuborn to treat.
        // About
        section.about.bg-primary
            .container
                .row
                    .col-md-12.text-center.pb-5.pt-5
                        h1 Dr. Louis Smit
                    .col-md-6
                        h2 Professional background
                        p Dr. Louis Smit is an internationally qualified and experience specialist in the field. After completing his undergraduate studies locally, he practiced in Canada, before returning to further his expertise in aneasthetics.
                        
                        p He cemented his education by completing his Fellowship in Interventional pain at the renowned World Institute of Pain in the Netherlands.
                    .col-md-6
                        h2 Personal journey
                        p Dr. Smit has also been personally affected by the effects of pain and illness and personally knows the road towards returing succesfully and hapily to everyday life.
                .row.pb-5
                    .col-md-3.offset-md-9
                        img.cert-logo(src="img/wip.png")
        //ellaborate
        section.ellaborate.content-section.text-center
            .container
                p.blockquote Helderberg Pain Clinic has built a reputation on understanding, defining and managing the field of pain. We are experts at seeing pain hollistically and solving underlying problems rather than treating superficial
        //Services                
        section.services.bg-dark.text-white.text-center
            .container
                .row
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.icon-frame.m-auto.text-primary
                            h3 Diagnosis
                            p.lead.mb-0 From narrowing in on the point of pain, to identifying root causes and lifestyle contributers
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.icon-people.m-auto.text-primary
                            h3 Treatment
                            p.lead.mb-0 Hollistic approach to applying the latest advancements in pain management and treatment
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.icon-refresh.m-auto.text-primary
                            h3 Rehabilitation
                            p.lead.mb-0 Ensuring long term relief and walking the road to recovery together
        // Treatment options
        section.treatment.bg-light
            .container.content-section.text-center
                .row
                    .col-lg-12
                        h1 Treatment Options
                        p The Helderberg pain Clinic provides a wide range of options when it comes to dealing with all types of pain. We help guide patients to the most appropriate treatment for the cause and stage of their condition.
            .container-fluid.p-0
                .row.no-gutters
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/physicaltherapy.jpeg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Physical therapy
                        p.lead.mb-0
                            | From narrowing in on the pain, to identifying root causes and lifestyle contributers 
                .row.no-gutters
                    .col-lg-6.text-white.showcase-img(style="background-image: url('img/lifestyle.jpeg');")
                    .col-lg-6.my-auto.showcase-text
                        h2 Lifestyle changes
                        p.lead.mb-0
                            | Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!
                .row.no-gutters
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/psycological.jpeg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Psycological support
                        p.lead.mb-0
                            | Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!
                .row.no-gutters
                    .col-lg-6.order-lg-1.text-white.showcase-img(style="background-image: url('img/ablative.jpeg');")
                    .col-lg-6.order-lg-2.my-auto.showcase-text
                        h2 Open ablative Surgery
                        p.lead.mb-0
                            | Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!
                .row.no-gutters
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/underlying.jpeg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Underlying cause treatment
                        p.lead.mb-0
                            | From narrowing in on the pain, to identifying root causes and lifestyle contributers 
                .row.no-gutters
                    .col-lg-6.text-white.showcase-img(style="background-image: url('img/analgesia.jpeg');")
                    .col-lg-6.my-auto.showcase-text
                        h2 Analgesia & Adjuvent medication
                        p.lead.mb-0
                            | Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!
                .row.no-gutters
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/minimal.jpeg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Minimally invasive treatmetns
                        p.lead.mb-0
                            | Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!
                .row.no-gutters
                    .col-lg-6.order-lg-1.text-white.showcase-img(style="background-image: url('img/alternative.jpeg');")
                    .col-lg-6.order-lg-2.my-auto.showcase-text
                        h2 Various alternative, non-allopathic healers
                        p.lead.mb-0
                            | Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!
        // Locate
        section.locate.content-section.bg-light
            .container
                .row.text-center.mb-5
                    .col-md-8.offset-2
                        h2 Ask for help today
                        hr
                .row
                    .col-md-4.text-center
                        i.icon.icon-phone.display-4
                        p.mt-3 082 555 4146
                    .col-md-4.text-center
                        i.icon.icon-location-pin.display-4
                        p.mt-3 Paardevlei Specialist Medical Centre
                        p Somerset West
                    .col-md-4.text-center
                        i.icon.icon-envelope.display-4
                        a.d-block.mt-3.text-dark(href="mailto:info@helderbergpainclinic.co.za") 
                                                    | info@helderbergpainclinic.co.za
                        
        // Footer
        footer.footer.bg-dark
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-left.my-auto
                        ul.list-inline.mb-2
                            li.list-inline-item
                                a(href='#') Top
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='#') About
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='#') Treatment
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='#') Contact
                        p.text-muted.small.mb-4.mb-lg-0 © Tourmalet Media 2018. All Rights Reserved.
                    
        // Bootstrap core JavaScript
        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
