nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') 
                    span 
                        img.pr-3(src="img/orb.svg", alt="Pain Clinic logo")
                    span Helderberg Pain CLinic
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#treatment') Treatments
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#locate') Contact
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#locate') Location