doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Advanced radio frequency interventional pain treatment')
        meta(name='author', content='Dehan Louw')
        meta(name="google-site-verification" content="jx4UxsWEZjQtAJtPkbyF_R1xczPfLZfDAJ1cULruL-4")
        title Radio frequency pain treatment
        // Bootstrap core CSS
        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
        // Custom styles for this template
        link(href='css/stylesheet.min.css', rel='stylesheet')
        //Favicon
        link(rel="icon", href="img/favicon.ico")
    body
        // Navigation
        include navbar.pug
        // Header
        // section.header.h-100.d-flex.align-items-center.justify-content-center
            img(src="img/logo.svg", alt="Helderberg Pain Clinic Logo")
        //Intro
        section.intro.content-section.bg-light
            .container
                h1 Radio Frequency Interventional Pain Management
                hr
            .container.p-md-5
                .row
                    .col-md-6
                        h3 What is RF?
                        p Specialized RF generators can produce electircal impulses that alternate direction at more than 500 Mhz. Using expertly placed probes, these  pulses can be directed at problematic nerves with clinical accuracy. The current runs right through the body, and returns via a dispersive plate placed on the back of the patients leg.
                    .col-md-6.text-center
                        img(src="img/Rf.png")
                h3.pt-3 How does it manage pain?
                p At extremely high frequencies, ions oscilating in the body cause friction at an atomic level. This friction generates heat which leads to micriscopic lesions in the targeted nerve. These lesions then trigger the restorative processes which address pain right at the source.
                .container.text-center.pt-5
                    img.w-100(src="img/RFTreatment.png")
                    p RF treatment being performed at The Helderberg Pain Clinic
                a(href="index.html")
                    i.fa.fa-angle-left.mr-3
                    span Return
            //.container
                .row.mb-3
                    .col-md-12
                        h1 Helderberg Pain Clinic in Somerset West
                .row
                    .col-md-8
                        p Pain is a complex phenomenon with which many have to deal with on a daily basis. Often misunderstood and seldom local. It can present dissociatively, behave irratiaclly and is as ilusive to diagnose as it is stuborn to treat.
                        p Helderberg Pain Clinic has built a reputation on understanding, defining and managing the field of pain. We are experts at seeing pain hollistically and solving underlying problems rather than treating superficial
                .form-row.mt-5
                    .col-12.col-md-2
       
        // Footer
        footer.footer.bg-dark
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-left.my-auto
                        ul.list-inline.mb-2
                            li.list-inline-item
                                a(href='#') Top
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='#about') About
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='#treatment') Treatments
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='#locate') Contact
                        p.text-muted.small.mb-4.mb-lg-0 © Tourmalet Media 2018. All Rights Reserved.
                    
        // Bootstrap core JavaScript
        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/jquery-easing/jquery.easing.min.js')
        script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
        script(src='js/thescript.min.js')
